@import url('./../common.css');
@import url('./../ui.css');
@import url('./../_partials/common/header.css');
@import url('./../_partials/common/footer.css');

@import url('./../_partials/profile/profile-header.css');
@import url('./../_partials/profile/profile-nav.css');
@import url('./../_partials/profile/advertising-sidebar.css');
@import url('./../_partials/profile/tg-banner.css');

@import url('./../_partials/profile/sales-manager.css');
@import url('./../_partials/profile/business-card.css');
@import url('./../_partials/profile/information.css');
@import url('./../_partials/profile/experience.css');
@import url('./../_partials/profile/contacts.css');
@import url('./../_partials/profile/following.css');
@import url('./../_partials/profile/notifications.css');
@import url('./../_partials/profile/payments.css');
@import url('./../_partials/tarif-card.css');

.user-profile-page {
	display: flex;
	align-items: flex-start;
	gap: 10px;
}

.user-profile-page__title {
	margin-bottom: 16px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

.profile__wrapper {
	display: flex;
	gap: 10px;
}

.user-profile-page .profile__wrapper {
	flex-direction: column;
}

.profile-tab.hidden {
	display: none;
}

.profile-tab.active {
	display: block;
}

.user-profile-page .subscriptions-part {
	display: block;
}

.profile__info {
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex: 1 1 auto;
}

.profile-wrap {
	padding: 30px;
	border-radius: 16px;
	background: #fff;
	box-shadow: 0px 4px 19px 0px rgba(12, 57, 99, 0.10);
}

.profile-wrap:not(:last-child) {
	margin-bottom: 10px;
}

.profile__info-title {
	font-size: 18px;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 4px;
	margin-bottom: 16px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

.profile__part {
	margin-bottom: 40px;
}

.profile__part-row {
	display: flex;
	gap: 40px;
	margin-bottom: 10px;
	color: #1B193F;
	font-size: 16px;
	font-weight: 600;
}

.more-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2px;
	padding: 8px;
	border-radius: 16px;
	background: #F6F7FA;
}

.more-btn span {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #D9D9D9;
}

.post-author {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.post-author__avatar {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 2px solid #FFF;
	box-shadow: 0px 4px 19px 0px rgba(12, 57, 99, 0.10);
	overflow: hidden;
	margin-right: 20px;
}

.post-author__avatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.post-author__info-name {
	display: flex;
	align-items: center;
	gap: 6px;
	color: #0650BE;
	font-size: 16px;
	font-weight: 700;
	text-decoration-line: underline;
	margin-bottom: 2px;
}

.post-author__info-prof {
	color: #686F7B;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 2px;
}

.post-author__info-date {
	color: #686F7B;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 2px;
}

.subscribe-btn {
	color: #1B6DE9;
	font-size: 16px;
	font-weight: 500;
	max-width: 191px;
	width: 100%;
	margin-left: auto;
	margin-right: 30px;
	padding: 11px;
	background-color: #fff;
	border-radius: 16px;
	border: 1px solid #1B6DE9;
}

.post__text {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 10px;
}

.post__footer {
	margin-top: 33px;
	display: flex;
	align-items: center;
	gap: 24px;
}

.post__footer-item {
	display: flex;
	align-items: center;
	gap: 4px;
	color: #1B193F;
	font-size: 13px;
	font-weight: 500;
}

@media(max-width: 1140px) {
	.profile__wrapper {
		flex-direction: column;
	}

	.profile__info {
		order: 3;
	}
}

@media(max-width: 500px) {
	.profile__info-wrapper {
		padding: 15px;
	}
}